/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* .header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  width: 68%;
  display: flex;
  flex-direction: column;
  // border: 1px red; 
  margin: auto;
}

.main-text {
  display: flex;
  // border: 1px green; 
  justify-content: space-between;
  align-items: center;
  text-align: right;
}

.title {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  // border: 1px solid purple; 
}

.title-name {
  font-size: 4.375rem;
}

.title-text {
  font-size: 5.5rem;
}

.countdown-number {
  font-family: "Abhaya Libre", serif;
  font-weight: 600;
  font-size: 25rem;
  -webkit-text-stroke: 4px #000;
  // border: 1px solid orange; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-text {
  text-align: right;
  font-family: "Montserrat", sans-serif;
  // font-optical-sizing: auto; 
  font-size: 2.5rem;
  font-style: italic;
  position: relative;
  bottom: 55px;
}

.background-wrapper {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background-wrapper img {
  position: absolute;
}

.bg-stickies {
  top: -50px;
  left: 0;
  max-width: 350px;
}

.bg-pills {
  top: 0;
  right: 0;
  max-width: 350px;
}

.bg-pills-bottle {
  bottom: 0;
  right: 0;
}

.bg-clock {
  bottom: -400px;
  left: 0;
}
 */

/* *** --- HEADER --- *** */

.header {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  position: relative;
}

.background-wrapper {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background-wrapper img {
  position: absolute;
}

.main-text {
  text-align: center;
}

.title {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  /* border: 1px solid purple; */
}

.title-name {
  font-size: 2.4rem;
  margin-top: 25px;
}

.title-text {
  font-size: 2.8rem;
}

.countdown-number {
  font-family: "Abhaya Libre", serif;
  font-weight: 600;
  font-size: 13rem;
  -webkit-text-stroke: 6px #000;
  /* position: static; */
  margin-top: -30px;
  /* border: 1px solid orange; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  animation: bounce 2.1s ease-in-out infinite both;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
    color: rgb(191, 20, 28);
    /* color: coral; */
    /* -webkit-text-stroke: 6px coral; */
    -webkit-text-stroke: 6px rgb(191, 20, 28);
    /* color: rgb(191, 20, 28);
    -webkit-text-stroke: 6px rgb(191, 20, 28); */
  }
  50% {
    transform: translateY(20px);
    color: black;
    -webkit-text-stroke: 6px black;
  }
  100% {
    transform: translateY(0);
    color: rgb(191, 20, 28);
    /* color: coral; */
    /* -webkit-text-stroke: 6px coral; */
    -webkit-text-stroke: 6px rgb(191, 20, 28);
    /* color: rgb(191, 20, 28);
    -webkit-text-stroke: 6px rgb(191, 20, 28); */
  }
}

.countdown-text {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  text-align: center;
  font-size: 1.5rem;
  margin-top: -20px;
  /* transform: translateY(-40px); */
  /* top: -40px; */
}

.background-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
}

.background-wrapper img {
  position: absolute;
}

.bg-pills {
  top: 0;
  right: 0;
  width: 45vw;
  max-width: 350px;
  /* width: 170px; */
}

.bg-stickies {
  top: 0;
  left: 0;
  width: 35vw;
  top: -50px;
  /* width: 180px; */
  max-width: 345px;
}

.bg-pills-bottle {
  /* bottom: 180px; */
  bottom: 0;
  right: 0;
  max-width: 180px;
  width: 25vw;
}

.bg-clock {
  bottom: -110px;
  left: 0;
  width: 27vw;
  max-width: 215px;
}

/* *** --- CALENDAR COUNTDOWN --- *** */

main,
.notes {
  font-family: "Montserrat", sans-serif;
}

.calendar-container {
  width: 80%;
  /* border: 1px solid green; */
  margin: auto;
  text-align: center;
  max-width: 615px;
}

.calendar-container h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  font-weight: 700;
}

.calendar-container > p {
  margin-top: 1.25rem;
  font-weight: 500;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.4rem;
}

.card-container {
  width: 130px;
  height: 130px;
  position: relative;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 1s;
  transform-style: preserve-3d;
  left: -5px;
}

.card-front,
.card-back {
  height: 100%;
  width: 100%;
  background-color: #e8e8e8;
  border-radius: 1.43rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  backface-visibility: hidden;
  padding: 2.5px;
}

.card-back {
  transform: rotateY(180deg);
}

.card-back p {
  padding: 0.3rem;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.25rem;
}

.flipped {
  transform: rotateY(180deg);
}

.card-starter {
  text-transform: uppercase;
  font-weight: 700;
  margin: auto;
  padding: 1.56rem 0;
  width: 100%;
  border-radius: 1.25rem;
  background-color: #000;
  color: #fff;
  margin-top: 2.19rem;
  max-width: 395px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .card {
  width: 130px;
  height: 130px;
  aspect-ratio: 1/1;
  background-color: #e8e8e8e8;
  border-radius: 1.43rem;
  position: relative;
  left: -5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .card-front,
.card-back {
  position: absolute;
} */

.card img {
  width: 120px;
  height: auto;
}

.card-msg {
  padding: 0.9rem;
  font-weight: 500;
}
.card.locked {
  pointer-events: none;
  position: relative;
}

.card.locked::before {
  content: "";
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1.43rem;
}

.card-date {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(30%, -30%);
  font-weight: 700;
  z-index: 4;
}

.card-date.dark {
  background-color: #484848;
  color: #fff;
  font-weight: 600;
  border: none;
  border: 2px solid #fff;
}

/* MODAL */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  width: 90%;
  aspect-ratio: 1/1.25;
  max-height: 600px;
  max-width: 600px;
  /* max-height: 90vh; */
  overflow: hidden;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  background-color: #fff;
  /* max-height: 90vh; */
}

.modal-content {
  /* border: 1px solid red; */
  width: 95%;
  height: 100%;
  /* max-height: 85vh; */
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  -webkit-overflow-scrolling: touch; /* for iOS smooth scroll */
  position: relative;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.5rem;
  border: none;
  font-weight: 600;
  background-color: transparent;
  cursor: pointer;
  /* border: 1px solid green; */
  padding: 5px;
  color: #000;
  z-index: 10;
}

.modal-content::-webkit-scrollbar {
  width: 4px;
}
.modal-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.modal-content.no-image {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal-content.has-image {
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.modal-content .modal-message {
  text-align: center;
  margin-bottom: 0.8rem;
  font-weight: 400;
  margin-top: 0.3rem;
  line-height: 1.4rem;
  font-size: 0.97rem;
}

.modal-content .modal-title {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.6rem;
}

.modal-content img,
.modal-content video {
  width: 100%;
  height: auto;
  margin-bottom: 0.6rem;
  border-radius: 10px;
}

.modal-content iframe,
.modal-content audio {
  width: 100%;
  border: none;
}

.modal-content audio {
  margin-bottom: 1rem;
  border-radius: 10px;
  /* background-color: lightgrey; */
}

.modal-iframe {
  width: 100%;
}
/* *** --- NOTES SECTION --- *** */

.notes {
  position: relative;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 230px;
}

.notes.background-wrapper {
  position: absolute;
  z-index: -1;
}

.bg-pills2 {
  position: absolute;
  width: 25vw;
  left: -10px;
  top: -10px;
}

.bg-stationary {
  position: absolute;
  right: 0;
  top: 0;
  width: 21vw;
}

.notes {
  margin-top: 1.125rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

.notes-container {
  max-width: 220px;
}

.notes-main-text {
  font-weight: 600;
}

.notes-add-text {
  display: flex;
  flex-direction: column;
  margin-top: 0.69rem;
}

@media screen and (min-width: 688px) {
  .title-name {
    font-size: 3rem;
    margin-top: 0;
  }

  .title-text {
    font-size: 3.64rem;
  }

  .countdown-number {
    font-size: 16rem;
    margin-top: -40px;
  }

  .countdown-text {
    margin-top: -40px;
    font-size: 1.82rem;
  }
  .bg-clock {
    bottom: -300px;
  }

  .calendar-container {
    text-align: center;
    /* border: 1px solid orange; */
  }

  /* .calendar-container h2 {
    flex-direction: column;
  } */

  .calendar-container h2 {
    font-size: 2.3rem;
  }

  .card-starter {
    height: 130px;
    /* border: 1px solid blue; */
    margin: 0;
    max-width: 282.4px;
  }

  .card {
    left: 0;
  }

  .cards-container {
    margin-top: 1.9rem;
    display: flex;
    justify-content: center;
  }

  /* FOOTER NOTES */
  .notes-container {
    max-width: 460px;
    /* border: 1px solid yellow; */
  }

  .bg-pills2 {
    width: 20vw;
    max-width: 200px;
    top: -130px;
  }

  .bg-stationary {
    width: 18vw;
    max-width: 180px;
    top: -130px;
  }
}

@media screen and (min-width: 1200px) {
  .main-text {
    display: flex;
    align-items: center;
  }

  .title {
    display: flex;
    flex-direction: column;
    text-align: right;
  }

  .title-name {
    font-size: 4.4rem;
  }

  .title-text {
    font-size: 5.6rem;
  }
  .countdown-number {
    margin-top: 0;
    font-size: 25rem;
    margin-left: 3rem;
  }

  .countdown-text {
    text-align: right;
    font-size: 3.125rem;
    margin-top: -60px;
    margin-right: 0.5rem;
  }

  .bg-pills-bottle {
    bottom: -100px;
  }
  .bg-clock {
    bottom: -520px;
    left: 0;
  }

  /* CALENDAR */

  .calendar-container h2 {
    font-size: 2.5rem;
  }

  .calendar-container h2 > span {
    margin-left: 0.5rem;
  }

  .calendar-container h2 {
    flex-direction: row;
  }

  /* FOOTER NOTES */
  .bg-stationary {
    top: -700px;
    max-width: 250px;
    right: 0;
  }

  .bg-pills2 {
    top: -450px;
    max-width: 230px;
    left: 0;
  }

  .notes-main-text {
    font-size: 1.2rem;
  }

  .notes-add-text {
    font-size: 1.1rem;
  }
}
