/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* .header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  width: 68%;
  display: flex;
  flex-direction: column;
  // border: 1px red; 
  margin: auto;
}

.main-text {
  display: flex;
  // border: 1px green; 
  justify-content: space-between;
  align-items: center;
  text-align: right;
}

.title {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  // border: 1px solid purple; 
}

.title-name {
  font-size: 4.375rem;
}

.title-text {
  font-size: 5.5rem;
}

.countdown-number {
  font-family: "Abhaya Libre", serif;
  font-weight: 600;
  font-size: 25rem;
  -webkit-text-stroke: 4px #000;
  // border: 1px solid orange; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-text {
  text-align: right;
  font-family: "Montserrat", sans-serif;
  // font-optical-sizing: auto; 
  font-size: 2.5rem;
  font-style: italic;
  position: relative;
  bottom: 55px;
}

.background-wrapper {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background-wrapper img {
  position: absolute;
}

.bg-stickies {
  top: -50px;
  left: 0;
  max-width: 350px;
}

.bg-pills {
  top: 0;
  right: 0;
  max-width: 350px;
}

.bg-pills-bottle {
  bottom: 0;
  right: 0;
}

.bg-clock {
  bottom: -400px;
  left: 0;
}
 */

.header {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.background-wrapper {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background-wrapper img {
  position: absolute;
}

.main-text {
  text-align: center;
}

.title {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  border: 1px solid purple;
}

.title-text {
  font-size: 2.5rem;
}

.countdown-number {
  font-family: "Abhaya Libre", serif;
  font-weight: 600;
  font-size: 9rem;
  -webkit-text-stroke: 4px #000;
  border: 1px solid orange;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.countdown-text {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  text-align: center;
  font-size: 1.5rem;
  position: relative;
  top: -20px;
}

.background-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
}

.background-wrapper img {
  position: absolute;
}

.bg-pills {
  top: 0;
  right: 0;
  width: 40vw;
  max-width: 350px;
  /* width: 170px; */
}

.bg-stickies {
  top: 0;
  left: 0;
  width: 38vw;
  top: -50px;
  /* width: 180px; */
  max-width: 345px;
}

.bg-pills-bottle {
  bottom: 180px;
  right: 0;
  max-width: 185px;
  width: 25vw;
}

.bg-clock {
  bottom: -50px;
  left: 0;
  width: 28vw;
  max-width: 215px;
}
